//
// Margin helpers
//

// .margin-top-tiny   { margin-top: $space-tiny; }
// .margin-top-small  { margin-top: $space-small; }
// .margin-top-medium { margin-top: $space-medium; }
// .margin-top-large  { margin-top: $space-large; }
// .margin-top-xlarge { margin-top: $space-xlarge; }
// .margin-top-huge   { margin-top: $space-huge; }

// .margin-bottom-tiny   { margin-bottom: $space-tiny; }
// .margin-bottom-small  { margin-bottom: $space-small; }
// .margin-bottom-medium { margin-bottom: $space-medium; }
// .margin-bottom-large  { margin-bottom: $space-large; }
// .margin-bottom-xlarge { margin-bottom: $space-xlarge; }
// .margin-bottom-huge   { margin-bottom: $space-huge; }

// .margin-left-tiny   { margin-left: $space-tiny; }
// .margin-left-small  { margin-left: $space-small; }
// .margin-left-medium { margin-left: $space-medium; }
// .margin-left-large  { margin-left: $space-large; }
// .margin-left-xlarge { margin-left: $space-xlarge; }
// .margin-left-huge   { margin-left: $space-huge; }

// .margin-right-tiny   { margin-right: $space-tiny; }
// .margin-right-small  { margin-right: $space-small; }
// .margin-right-medium { margin-right: $space-medium; }
// .margin-right-large  { margin-right: $space-large; }
// .margin-right-xlarge { margin-right: $space-xlarge; }
// .margin-right-huge   { margin-right: $space-huge; }

// .padding-top-tiny   { padding-top: $space-tiny; }
// .padding-top-small  { padding-top: $space-small; }
// .padding-top-medium { padding-top: $space-medium; }
// .padding-top-large  { padding-top: $space-large; }
// .padding-top-xlarge { padding-top: $space-xlarge; }
// .padding-top-huge   { padding-top: $space-huge; }

// .padding-bottom-tiny   { padding-bottom: $space-tiny; }
// .padding-bottom-small  { padding-bottom: $space-small; }
// .padding-bottom-medium { padding-bottom: $space-medium; }
// .padding-bottom-large  { padding-bottom: $space-large; }
// .padding-bottom-xlarge { padding-bottom: $space-xlarge; }
// .padding-bottom-huge   { padding-bottom: $space-huge; }
