// Margin and padding helpers

// .margin-top-none   { margin-top: 0 !important; }
// .margin-top-tiny   { margin-top: $space-tiny !important; }
// .margin-top-small  { margin-top: $space-small !important; }
// .margin-top-medium { margin-top: $space-medium !important; }
// .margin-top-large  { margin-top: $space-large !important; }
// .margin-top-xlarge { margin-top: $space-xlarge !important; }
// .margin-top-huge   { margin-top: $space-huge !important; }

// .margin-bottom-none   { margin-bottom: 0 !important; }
// .margin-bottom-tiny   { margin-bottom: $space-tiny !important; }
// .margin-bottom-small  { margin-bottom: $space-small !important; }
// .margin-bottom-medium { margin-bottom: $space-medium !important; }
// .margin-bottom-large  { margin-bottom: $space-large !important; }
// .margin-bottom-xlarge { margin-bottom: $space-xlarge !important; }
// .margin-bottom-huge   { margin-bottom: $space-huge !important; }

// @include breakpoint(sm) {
//   .margin-top-none-sm   { margin-top: 0 !important; }
//   .margin-top-tiny-sm   { margin-top: $space-tiny !important; }
//   .margin-top-small-sm  { margin-top: $space-small !important; }
//   .margin-top-medium-sm { margin-top: $space-medium !important; }
//   .margin-top-large-sm  { margin-top: $space-large !important; }
//   .margin-top-xlarge-sm { margin-top: $space-xlarge !important; }
//   .margin-top-huge-sm   { margin-top: $space-huge !important; }

//   .margin-bottom-none-sm   { margin-bottom: 0 !important; }
//   .margin-bottom-tiny-sm   { margin-bottom: $space-tiny !important; }
//   .margin-bottom-small-sm  { margin-bottom: $space-small !important; }
//   .margin-bottom-medium-sm { margin-bottom: $space-medium !important; }
//   .margin-bottom-large-sm  { margin-bottom: $space-large !important; }
//   .margin-bottom-xlarge-sm { margin-bottom: $space-xlarge !important; }
//   .margin-bottom-huge-sm   { margin-bottom: $space-huge !important; }
// }

// .padding-top-none   { padding-top: 0 !important; }
// .padding-top-tiny   { padding-top: $space-tiny !important; }
// .padding-top-small  { padding-top: $space-small !important; }
// .padding-top-medium { padding-top: $space-medium !important; }
// .padding-top-large  { padding-top: $space-large !important; }
// .padding-top-xlarge { padding-top: $space-xlarge !important; }
// .padding-top-huge   { padding-top: $space-huge !important; }

// .padding-bottom-none   { padding-bottom: 0 !important; }
// .padding-bottom-tiny   { padding-bottom: $space-tiny !important; }
// .padding-bottom-small  { padding-bottom: $space-small !important; }
// .padding-bottom-medium { padding-bottom: $space-medium !important; }
// .padding-bottom-large  { padding-bottom: $space-large !important; }
// .padding-bottom-xlarge { padding-bottom: $space-xlarge !important; }
// .padding-bottom-huge   { padding-bottom: $space-huge !important; }

// @include breakpoint(sm) {
//   .padding-top-none-sm   { padding-top: 0 !important; }
//   .padding-top-tiny-sm   { padding-top: $space-tiny !important; }
//   .padding-top-small-sm  { padding-top: $space-small !important; }
//   .padding-top-medium-sm { padding-top: $space-medium !important; }
//   .padding-top-large-sm  { padding-top: $space-large !important; }
//   .padding-top-xlarge-sm { padding-top: $space-xlarge !important; }
//   .padding-top-huge-sm   { padding-top: $space-huge !important; }

//   .padding-bottom-none-sm   { padding-bottom: 0 !important; }
//   .padding-bottom-tiny-sm   { padding-bottom: $space-tiny !important; }
//   .padding-bottom-small-sm  { padding-bottom: $space-small !important; }
//   .padding-bottom-medium-sm { padding-bottom: $space-medium !important; }
//   .padding-bottom-large-sm  { padding-bottom: $space-large !important; }
//   .padding-bottom-xlarge-sm { padding-bottom: $space-xlarge !important; }
//   .padding-bottom-huge-sm   { padding-bottom: $space-huge !important; }
// }
